.ant-drawer-content-wrapper {
  width: 100% !important;
  max-width: 750px !important;
}

//add-product
.center-footer-btn {
  display: flex;
  justify-content: center;
}

//page-login
.login-form {
  .col-login {
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    flex: 1;
    background-image: url("/img/bg.png");
    background-repeat: no-repeat;
    background-size: cover;

    .card-login {
      padding: 20px 20px 0px 20px;
      width: 350px;
      box-shadow: rgba(255, 255, 255, 0.9) 0px 0px 100px,
        rgba(255, 255, 255, 0.12) 0px -12px 30px,
        rgba(255, 255, 255, 0.12) 0px 4px 6px,
        rgba(255, 255, 255, 0.17) 0px 12px 13px,
        rgba(255, 255, 255, 0.09) 0px -3px 5px;

      .title-login {
        text-align: center;
      }

      .col-forget-password {
        width: 100%;
        text-align: center;

        .text-forget-password {
          color: #000000;
          text-decoration: underline;
          cursor: pointer;
        }
      }
    }
  }
}
